.individual-message {
  color: white;
}
.individual-message-inner {
  display: flex;
  flex-direction: row;
}
.individual-message-portrait {
  margin-right: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.individual-message-content {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 42px;
  position: relative;
}
.individual-message-text {
  max-width: 480px;
  font-family: "Avenir";
  font-size: 24px;
  letter-spacing: -0.24px;
}
.individual-message-tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 8px;
  bottom: 16px;
  right: 16px;
}
.individual-message-tools span {
  cursor: pointer;
}
