.individual-message {
  color: white;
  margin-right: 10px;
}
.individual-message-inner {
  display: flex;
  flex-direction: row;
}
.individual-message-portrait {
  margin-right: 16px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9999a6;
}
.individual-message-content {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 42px;
  position: relative;
}
.individual-message-text {
  max-width: 480px;
  font-family: "Avenir";
  font-size: 24px;
  letter-spacing: -0.24px;
}
.individual-message-tools {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 8px;
  bottom: 16px;
  right: 16px;
}
.individual-message-tools span {
  cursor: pointer;
}
@media (max-width: 670px) {
  .individual-message-text {
    font-size: 14px;
  }
  .individual-message-portrait {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
}
@media (max-width: 550px) {
  .individual-message-portrait {
    margin-left: 10px;
  }
  .individual-message-content {
    padding: 24px;
  }
  .user-message-text {
    max-width: 260px;
  }
  .individual-message-tools {
    bottom: 8px;
  }
}
