.messages {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 910px;
}
.messages-list::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 20px;
  margin-top: 40px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), #0a0806);
  pointer-events: none;
}

.messages-list-messages {
  display: flex;
  flex-direction: column-reverse;
  height: 680px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 24px;
}

.messages-list-messages::-webkit-scrollbar {
  display: none;
}
.messages-list-send-message {
  border-radius: 120px;
  border: 1px solid var(--Eternal-Gradient, #f82d98);
  background: linear-gradient(91deg, #08081e 11.84%, #21050c 111.32%);
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;
  font-family: Avenir;
  font-size: 18px;
  color: white;
  width: 727px;
  align-self: flex-end;
}
.messages-list-send-message-input {
  color: white;
  background: transparent;
  border: none;
  width: 75%;
  margin-left: 40px;
  outline: none;
}

.messages-list-send-message-button {
  width: 157px;
  height: 62px;
}
.messages-list-send-message-button:disabled {
  opacity: 0.7;
}
.messages-list-send-message {
  margin-bottom: 32px;
}
.messages-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.messages-loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages-loading {
  font-size: 120px;
  color: white;
}
.messages-spinner {
  z-index: 999;
  width: 50px;
  height: 50px;
}
@media (max-width: 1640px) {
  .messages-list::before {
    margin-top: -1px;
    top: auto;
    left: 0;
    right: 0;
  }
  .messages {
    min-height: 0px;
    height: 50vh;
  }
}
@media (max-width: 750px) {
  .messages-list-send-message {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
  }
}
@media (max-width: 510px) {

  .messages-list-send-message-input {
    font-size: 14px;
  }
  .messages-list-send-message {
    width: 343px;
    height: 56px;
  }
  .messages-list-send-message-button {
    display: none;
  }
  .messages-list-messages {
    max-height: 375px;
  }
}
@media (max-width: 330px) {
  .messages-list-send-message {
    width: 270px;
  }
}
