.chat {
  margin-top: 134px;
}
.chat-inner {
  display: flex;
  flex-direction: row;
  position: relative;
}
.chat-eternal-logo {
  position: absolute;
  top: 200px;
  left: 200px;
}
.loader-text {
  font-size: 54px;
  color: red;
}
@media (max-width: 1640px) {
  .chat-eternal-logo {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .chat-inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .messages-list {
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .chat-eternal-logo {
    top: 150px;
  }
}
