.individual-portrait-inner {
  overflow: hidden;
  position: relative;
  min-height: 50vh;
}

.individual-portrait-img-container {
  max-width: 920px;
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.individual-portrait-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #0a0806);
}
.individual-portrait-img-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), #0a0806);
}

.individual-info {
  z-index: 50;
  position: absolute;
  bottom: 0;
  color: white;
  font-family: "Arquitecta";
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.individual-info-career {
  font-size: 14px;
  letter-spacing: 2.1px;
  opacity: 0.7;
}
.info-name {
  font-size: 24px;
  letter-spacing: 3.6px;
}

@media (max-width: 550px) {
  .individual-info-career {
    font-size: 11px;
  }
  .info-name {
    font-size: 14px;
  }
  .individual-message-portrait {
    margin-left: 10px;
  }
  .individual-message-content {
    padding: 24px;
  }
  .user-message-text {
    max-width: 260px;
  }
  .individual-message-tools {
    bottom: 8px;
  }
  .individual-portrait-img-container::after {
    height: 150px;
  }
}
