.individual-portrait-inner {
  background-size: contain;
  background-position-y: center;
  background-repeat: no-repeat;
  max-height: 939px;
  overflow: hidden;
}


.individual-portrait-img-container {
  max-height: 939px;
  max-width: 939px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.individual-portrait-img-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), #0a0806);
}
