.account-details {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 198px;
  padding-bottom: 24px;
  overflow: hidden;
  position: relative;
}
.account-details-title {
  font-size: 32px;
}

.account-details-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 32px;
  padding: 48px;
}
.account-details-input {
  width: 664px;
  height: 59px;
  margin-top: 8px;
  color: white;
}
.account-details-input:invalid {
  background-color: #2e0202 !important;
}
.account-details-input-text {
  font-size: 18px;
}
.account-details-save-button {
  align-self: flex-end;
  width: 210px;
  height: 62px;
}
.account-details-save-button:disabled {
  opacity: 0.7;
}
.account-details-subscription {
  padding: 48px;
  border-radius: 32px;
  margin-top: 24px;
  max-height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-details-price {
  margin-top: 12px;
}
.account-details-next-payment {
  opacity: 0.7;
}
.account-details-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 48px;
  font-family: "Arquitecta";
  font-size: 13px;
  text-transform: uppercase;
}
.account-details-button {
  letter-spacing: 3.9px;
}
.account-details-update-payment {
  width: 664px;
  height: 62px;
  border-radius: 120px;
  border: 1px solid #fff;
  background: transparent;
}
.account-details-cancel-subscription {
  background-color: transparent;
  border: none;
  padding-top: 32px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.account-details-payment-input {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.account-details-payment-change-submit {
  width: 119px;
  height: 62px;
}
.account-details-payment-change-submit:disabled {
  opacity: 0.7;
}
.account-details-top-decor {
  margin-left: 172px;
  margin-top: -38px;
  position: absolute;
  width: 100dvw;
  height: 510px;
  border: 1px solid rgb(10, 8, 6);
  filter: blur(336px);
  background: linear-gradient(
    84.4deg,
    rgb(248, 45, 152) 26.752%,
    rgb(88, 51, 239) 77.545%
  );
  opacity: 0.3;
}
.account-details-bottom-decor {
  position: absolute;
  width: 100dvw;
  height: 510px;
  left: -301px;
  top: 711px;
  box-sizing: border-box;
  border: 1px solid rgb(10, 8, 6);
  filter: blur(336px);
  background: linear-gradient(
    84.4deg,
    rgb(248, 45, 152) 26.752%,
    rgb(88, 51, 239) 77.545%
  );
  opacity: 0.1;
}
@media (max-width: 845px) {
  .account-details-info {
    padding: 24px;
    max-width: 600px;
    margin: 0 auto;
  }
  .account-details-subscription {
    max-width: 600px;
  }
  .account-details-input {
    max-width: 500px;
  }
  .account-details-update-payment {
    max-width: 500px;
  }
}
@media (max-width: 630px) {
  .account-details-payment-input {
    flex-direction: column;
  }
  .account-details-payment-change-submit {
    width: 300px;
  }
  .account-details-title {
    font-size: 24px;
  }
  .account-details-info {
    max-width: 343px;
  }
  .account-details-subscription {
    text-align: center;
    max-width: 343px;
  }
  .account-details-input {
    max-width: 295px;
  }
  .account-details-update-payment {
    max-width: 500px;
  }
  .account-details-save-button {
    align-self: center;
    width: 295px;
  }
  .account-details-update-payment {
    width: 295px;
  }
}
@media (max-width: 345px) {
  .account-details-payment-change-submit {
    margin: 0 auto;
    width: 220px;
  }
  .account-details-info {
    padding: 15px;
    max-width: 260px;
  }
  .account-details-subscription {
    max-width: 250px;
  }
  .account-details-input {
    max-width: 230px;
  }
  .account-details-update-payment {
    max-width: 230px;
  }
  .account-details-save-button {
    width: 230px;
  }
  .account-details-update-payment {
    width: 295px;
  }
}
