.header {
  position: absolute;
  margin-top: 32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 90 !important;
}
.header-inner {
  width: 100vw;
  max-width: 1642px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
  padding-left: 32px;
}
.logo-container {
  padding-left: 230px;
}
.menu-icon {
  cursor: pointer;
}
.menu-close {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #2f2535;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-mobile-close-container {
  display: none;
}
.mobile-menu-icon {
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .menu-close-container {
    display: none;
  }
  .header-buttons {
    display: none;
  }
  .menu-mobile-close-container {
    display: block;
  }
  .menu-icon {
    display: none;
  }
  .logo-container {
    padding: 0;
  }
  .mobile-menu-icon {
    display: block;
  }
  .header-inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}
