.reset-password-input {
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  padding: 48px;
  border-radius: 32px;
  color: white;
  gap: 30px;
}
.reset-password-input.gradient-border::before {
  border-radius: 32px;
}
.reset-password-input-title {
  font-size: 32px;
}
.reset-password-input-text {
  opacity: 0.7;
}
.reset-password-input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}
.reset-password-input-password {
  color: white;
}
.reset-password-input-submit {
  text-transform: uppercase;
  width: 100%;
  height: 62px;
  font-size: 13px;
  position: relative;
  z-index: 10;
}
.reset-password-input-submit:disabled {
  opacity: 0.7;
}
@media (max-width: 500px) {
  .reset-password-input-title {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .reset-password-input {
    padding: 28px;
  }
}
