.payment-input-inner {
  margin-top: 237px;
  padding: 20px;
}
.payment-input-price {
  font-size: 24px;
}
.payment-input-submit {
  height: 62px;
  width: 529px;
}
.payment-input-submit:disabled {
  opacity: 0.7;
}
.payment-input-main {
  margin-top: 32px;
  border-radius: 32px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.payment-input-main.gradient-border {
  background: linear-gradient(
    151.03deg,
    rgba(4, 4, 16, 0.6) 7.463%,
    rgba(15, 3, 6, 0.6) 135.418%
  );
  backdrop-filter: blur(24px);
}
.payment-input-main.gradient-border::before{
  border-radius: 32px;
}
@media (max-width: 872px) {
  .payment-input-inner {
    margin-top: 192px;
  }
}
@media (max-width: 640px) {
  .payment-input-main {
    padding: 24px;
  }
  .payment-input-submit {
    width: 375px;
  }
  .payment-input-submit {
    width: 295px;
  }
}

@media (max-width: 360px) {
  .payment-input-main {
    padding: 8px;
  }
}
