.individual-card {
  position: relative;
  border-radius: 16px;
  color: white;
}

.individual-portrait-container {
  border-radius: 16px;
  cursor: pointer;
  width: 270px;
  height: 300px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
.individual-portrait {
  object-fit: cover;
  align-self: flex-start;
  width: 100%;
  height: 100%;
}
.individual-card-info {
  position: absolute;
  background: rgba(88, 48, 102, 0.2);
  backdrop-filter: blur(22px);
  width: 100%;
  height: 77px;
  border-radius: 16px;
  bottom: 0;
  font-family: "Arquitecta";
  text-transform: uppercase;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.5s ease, height 0.2s ease;
}
.individual-portrait-container:hover + .individual-card-info,
.individual-card-info:hover,
.individual-card:focus .individual-card-info {
  display: flex;
  flex-direction: column;
  height: 77px;
  opacity: 1;
}

.individual-card-name {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: 4.8px;
}
.individual-card-career {
  padding-left: 20px;
  font-size: 11px;
  letter-spacing: 2.2px;
}
.drmartinlutherkingjr-bg {
  background-image: url(/individualsBg/MartinLutherBg.png);
}
.SteveJobs-bg {
  background-image: url(/individualsBg/SteveJobsBG.png);
}
.ElonMusk-bg {
  background-image: url(/individualsBg/ElonMuskBg.png);
}
.AlbertEinstein-bg {
  background-image: url(/individualsBg/AlbertEinsteinBg.png);
}
.MotherTeresa-bg {
  background-image: url(/individualsBg/MotherTeresaBg.png);
}
.JesusChrist-bg {
  background-image: url(/individualsBg/JesusChristBg.png);
}
.LeonardodaVinci-bg {
  background-image: url(/individualsBg/DaVinciBg.png);
}
.QueenElizabeth-bg {
  background-image: url(/individualsBg/QueenElizabethBg.png);
}
.WilliamShakespeare-bg {
  background-image: url(/individualsBg/WilliamShakespeareBg.png);
}
.NelsonMandela-bg {
  background-image: url(/individualsBg/NelsonMandelaBg.png);
}
.BetsyRoss-bg {
  background-image: url(/individualsBg/BetsyRossBg.png);
}
.Gandhi-bg {
  background-image: url(/individualsBg/GandhiBg.png);
}
.AbrahamLincoln-bg {
  background-image: url(/individualsBg/AbrahamLincolnBg.png);
}
.RonSwanson-bg {
  background-image: url(/individualsBg/RonSwansonBg.png);
}
@media (max-width: 885px) {
  .individual-card-info {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    height: 77px;
    opacity: 1;
    background-color: red;
    background-color: transparent;
    backdrop-filter: none;
    position: relative;
    border-radius: 0;
  }
  .individual-card-name {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
  }
  .individual-card-career {
    font-family: "Arquitecta";
    font-size: 11px;
    letter-spacing: 2.2px;
    padding: 0;
    margin: 0;
  }
}
@media (max-width: 590px) {
  .individual-card {
    height: 100%;
    margin: 0 auto;
  }
  .individual-card-info {
    height: 100%;
    width: 163px;
    padding: 0;
    margin-top: 10px;
  }
  .individual-portrait-container {
    width: 163px;
    height: 227px;
  }
}
@media (max-width: 370px) {
  .individual-card {
    width: 280px;
    align-items: center;
    justify-content: center;
  }
  .individual-portrait {
    width: 270px;
  }
}
@media (max-width: 361px) {
  .individual-portrait-container {
    margin: 0 auto;
  }
  .individual-card-info {
    margin: 0 auto;
  }
}
